#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: red;
  margin-top: 60px;
}

textarea {
  width: 100%;
}

poopup-window:not(:defined) {
  display: none;
}

comic-spans:not(:defined) {
  display: none;
}

.hidden {
  display: none;
}